@import 'the-new-css-reset/css/reset.css';
@import './variables.css';
@import './typography.css';

body {
  background: var(--colors-bg);
  color: var(--colors-text);
  font-family: var(--font-family);
  padding: 1rem;
}