@import 'the-new-css-reset/css/reset.css';
@import './typography.css';
@import './variables.css';

body {
  background: #eee4da;
  color: #121213f2;
  padding: 1rem;
  font-family: var(--font-family);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
}